.mainContainer {
  position: relative;
  top: 55px;
  height: 82vh;
  background-image: url("../MainPageComponent/img/lana.png");
  background-repeat: no-repeat;
}

.mainContent {
  /* Center vertically and horizontally */
  text-align: center;
  position: relative;
  top: 32vh;
}

.header {
  font-size: 29px;
}

.header2 {
  font-size: 35px;
}

.buyNowBtn {
  position: relative;
  top: 40px;
  padding: 1rem;
  background-color: #fff;
  border: none;
}

.buyNowBtn:hover {
  border: solid 0.5px black;
}
